@import "../../../scss/settings/colors";
@import "../../../scss/settings/fonts";
.steps {
    width: 100vw;
    height: 32vh;
    padding-top: 3.2rem;
    p {
        font-size: 2.5rem;
        line-height: 4.5rem;
        letter-spacing: -0.14rem;
        text-align: center;
        color: $color-dark-grey;
        font-family: $font-base;
    }
    .svg-icon-three {
        background-image: url("../../../assets/Decoration.svg");
        background-repeat: no-repeat;
        background-position: center;
        min-height: 4rem;
        margin-bottom: 4.3rem;
    }
}
