@import "../../../scss/settings/colors";
@import "../../../scss/settings/fonts";
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i&display=swap&subset=latin-ext');

#section-help {
    margin: 0 10%;
    #banner-choose {
        display: flex;
        justify-content: space-between;
        margin: 0 5%;

        div:first-child{
            padding: 2em 4em;
        }
    
        div {
            text-align: center;
            margin: 0 auto;
            border: 0.75px solid transparent;
            font-size: 1.2em;
            color: $color-dark-grey;
            padding: 1em 4em;
            text-align: center;

            &:hover{
                border: 1px solid $color-dark-grey;
            }
        }
    }

    #help-text{
        text-align: center;
        font-size: 1.1em;
        line-height: 1.6em;
        color: $color-dark-grey;
        padding: 2em 15em;
    }

    ul {
        list-style: none;
        .header-list {
            display: inline-block;
            text-align: left;
            color: $color-dark-grey;
            font-size: 1.5em;
            line-height: 1.8em;
            font-family: 'Merriweather';
            margin-top: 0.8em;
            font-weight: 300;
        }
        .help-list{
            padding-top: 2.4em;
            float: right;
            font-size: 1.1em;
            color: $color-dark-grey;
            line-height: 1.3em;
            font-weight: 300 Italic;
            font-family: $font-alt;
            display: inline-block;
        }
        .inner-text{
            display: block;
            text-align: left;
            font-size: 1.1em;
            color: $color-dark-grey;
            line-height: 1.3em;
            font-weight: 300;
            font-family: $font-alt;
            margin-bottom: 1.5em;
        }
    }
    #help-toogle {
        display: flex;
        justify-content: space-between;
        padding: 1em 35em;
       
        .toogle-list {
            border: 1px solid transparent;
           height: 50px;
           width: 50px;
            font-size: 1em;
            //line-height: 2em;
            color: $color-dark-grey;
            text-align: center;
            align-self: center;
            padding-top: 0.8em;
            &:hover {
                border: 1px solid #707070;
            }
        }
    }
}

